@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #5eead4;
	--bg-color: #0f172a;
	--text-color: #94a3b9;
	--title-color: #e2e8f0;
	--bg-primary: #2dd4bf1a;
}

[data-theme='dark'] {
	--bg-color: #0f172a;
	--text-color: #444f63;
	--title-color: #e2e8f0;
}

[data-theme='light'] {
	--bg-color: #ffffff;
	--text-color: #0f172a;
}

body {
	color: var(--text-color);
	background: var(--bg-color);
	font-family: var(--inter), sans-serif;
}
