@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: rgb(94, 234, 212);
	--bg-primary: rgba(45, 212, 191, 0.1);
	--bg-color: rgb(15, 23, 42);
	--text-color: rgb(148, 163, 184);
	--title-color: rgb(226, 232, 240);
	--highlight: rgb(18, 32, 68, 1);
	--project-bg: rgb(112, 126, 174, 0.1);
}

[data-theme='dark'] {
	--primary-color: rgb(94, 234, 212);
	--bg-primary: rgba(45, 212, 191, 0.1);
	--bg-color: rgb(15, 23, 42);
	--text-color: rgb(148, 163, 184);
	--title-color: rgb(226, 232, 240);
	--highlight: rgb(18, 32, 68, 1);
	--project-bg: rgb(112, 126, 174, 0.1);
}

[data-theme='light'] {
	--primary-color: rgb(94, 234, 212);
	--bg-primary: rgba(45, 212, 191, 0.1);
	--bg-color: rgb(15, 23, 42);
	--text-color: rgb(148, 163, 184);
	--title-color: rgb(226, 232, 240);
	--highlight: rgb(18, 32, 68, 1);
	--project-bg: rgb(112, 126, 174, 0.1);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--inter), sans-serif;
	color: var(--text-color);
	background-color: var(--bg-color);

	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
}

.highlight-container {
	position: relative;
	width: 100%;
	height: 100%;
	transition: background 0.2s ease-in-out;
}

::selection {
	background-color: var(--primary-color);
	color: #000000;
}

::-moz-selection {
	background-color: var(--primary-color);
	color: #000000;
}
