.switch {
	position: absolute;
	width: 60px;
	height: 24px;
	border-radius: 14px;
	border: 1px solid rgb(211, 239, 255);
	background-color: rgb(186, 230, 255);

	transition: background-color 1s;
	box-shadow: 0 0 7px 0.2px #565656;

	&:hover {
		cursor: pointer;
	}
}

.switch.light {
	background-image: url('/oblako.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
}

.switch.dark {
	border-color: rgb(40, 40, 51);
	background-color: rgb(23, 23, 35);
	background-image: url('/stars.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 15% center;
}

.contentWrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 12px;
	overflow: hidden;
	z-index: 2;
}

.circle {
	position: absolute;
	width: 14px;
	height: 14px;
	left: 0%;
	top: 50%;
	transform: translate(-0%, -50%);
	border-radius: 50%;
	background-color: rgb(255, 233, 183);
	box-shadow: 0 0 4px 2px rgb(255, 233, 183), 0 0 8px 6px rgb(255, 219, 140),
		0 0 18px 10px rgb(255, 209, 109);
	transition: left 2s, transform 2s, width 2s, height 2s, box-shadow 2s,
		background-color 2s 0.2s;
	z-index: 1;
}

.switch.dark .circle {
	width: 20px;
	height: 20px;
	left: 100%;
	transform: translate(-100%, -50%);
	background-color: rgb(237, 242, 241);
	box-shadow: 0 0 4px 0.6px rgb(244, 247, 246);
}

.shootingStarWrapper {
	position: absolute;
	transform: translate(40px, -6px) rotate(-30deg);
	opacity: 0;
}

.shootingStar {
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	left: 20%;
	top: 50%;
	background: radial-gradient(
		rgba(255, 231, 193, 0.9) 30%,
		rgba(237, 155, 61, 1)
	);
	box-shadow: -1px 0 4px 0.4px rgba(237, 155, 61, 0.7),
		0 0 3px 1px rgba(237, 155, 61, 0.5);
}

.switch.dark .shootingStarWrapper {
	animation: shootingstartravel 24s linear infinite;
	animation-delay: 6s;
	opacity: 1;
}

@keyframes shootingstartravel {
	0% {
		transform: translate(40px, -6px) rotate(-30deg);
	}
	8.33% {
		transform: translate(-36px, 34px) rotate(-30deg);
	}
	100% {
		transform: translate(-36px, 34px) rotate(-30deg);
	}
}
